# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# FAISS & model files
faiss*/
*.faiss
*.idx
*.bin
*.npy
*.pt
*.ckpt

# Streamlit secrets
.streamlit/secrets.toml
.env.*
!.env.example
.DS_Store
